
{% extends "web/base.html" %}
{% load static %}

{% block content %}

           <!-- Faq Hero -->
           <section class="hero-service-wrap hero-section-wrap hero-portfolio-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Contact Us</h5>
                            <h1 class="section-title fade-in">We are always open to talk</h1>
                            <p>We have offices and teams all around the world</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Location -->
        <section class="contact-location-area">
            <img class="animation-slide-left bg-shape" src="{% static 'assets/imgs/bg-shape-7.svg' %} " alt="Shape"/>
            <div class="custom-container">
                <div class="contact-inner">
                    
                    <div class="contact-inner-info-box d-flex align-items-center">
                      
                        <div class="contact-info-box simple-shadow">
                            <div class="icon"><i class="las la-phone"></i></div>
                            <h4>Phone</h4>
                            <p>Mon-Fri from 9am to 6pm.</p>
                            <h6><a href="tel:+2347060928686">+2347060928686</a></h6>
                        </div>
                        <div class="contact-info-box simple-shadow">
                            <div class="icon"><i class="las la-map"></i></div>
                            <h4>Contact Office</h4>
                            <p>Suite C2,Nymex Plaza,Opposite ammasco filling station <br>
                                Gado Nasco Road, NNPC jUNCTION, Kubwa, Abuja, Nigeria.</p>
                        </div>
                    </div>
                </div>
                <div class="contact-inner">
                    
                    <div class="contact-inner-info-box d-flex align-items-center">
                        <div class="contact-info-box simple-shadow">
                            <div class="icon"><i class="las la-headset"></i></div>
                            <h4>Support</h4>
                            <p>Contact our fast support team 24/7 </p>
                            <h6><a href="mailto:sales@semestertech.ng">sales@semestertech.ng</a></h6>
                        </div>
                       
                        <div class="contact-info-box simple-shadow">
                            <!-- <div class="icon"><i class="las la-browse"></i></div> -->
                            <h4>Social Media</h4>
                            <p class="d-flex flex-column align-items-center">
                                    <a href="#" class="fs-5 text-start p-1" style="color: #583E8A;">
                                        <i class="iconoir-dribbble"></i> Dribbble
                                    </a>
                                
                                    <a href="#" class="fs-5 text-start p-1" style="color: #583E8A;">
                                        <i class="iconoir-twitter"></i> Twitter
                                    </a>
                                
                                    <a href="#" class="fs-5 p-1" style="color: #583E8A;">
                                        <i class="iconoir-instagram"></i> Instagram
                                    </a>
                                
                                    <a href="#" class="fs-5 p-1" style="color: #583E8A;">
                                        <i class="iconoir-linkedin"></i> linkedin
                                    </a></p>
                              
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
        {% endblock content %}